<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->

<meta charset="utf-8">
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />

<meta property="og:type" content="Movie"/>

<%= render :partial => 'layouts/' + t("configs.meta") %>


<link rel="SHORTCUT ICON" href="<%= image_path("favicon.ico") %>"/>
<link rel="image_src" href="<%= image_path("thumb.jpg") %>"/>
<meta property="og:image" content="http://urbannomadfilmfest.summers.com.tw/images/thumb.jpg"/>


<meta property="og:type" content="Movie"/>
<title>2013 城市遊牧影展-電影時間表</title>
	<%= stylesheet_link_tag "reset", :media => "all" %>
	<%= stylesheet_link_tag "common", :media => "all" %>
	<%= stylesheet_link_tag t('configs.style'), :media => "all" %>
	<%= stylesheet_link_tag "index", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40044677-1', 'summers.com.tw');
  ga('send', 'pageview');

</script>
</head>

<body>
<header>
  <h1><a href="http://www.urbannomad.tw"  target="_blank">城市遊牧影展│URBANNOMAD FILM FEST</a></h1>
  <%= render :partial => "layouts/menu" %>
</header>
<section id="main">
<aside>
    <ul>      
      <li><a href="http://www.corecultural.com/" id="sp-01" target="_blank"></a></li>
      <li><a href="http://tofu.pixnet.net/blog" id="sp-02" target="_blank"></a></li>
      <li><a href="#" id="sp-03" target="_blank"></a></li>
      <li><a href="http://www.nvidia.com.tw/page/home.html" id="sp-04" target="_blank"></a></li>
      <li><a href="http://www.fuudai.com/" id="sp-05" target="_blank"></a></li>
      <li><a href="http://www.georgpeck.com/" id="sp-06" target="_blank"></a></li>
      <li><a href="http://www.foodpanda.com.tw/" id="sp-07" target="_blank"></a></li>
      <li><a href="http://www.spot-hs.org.tw/" id="sp-08" target="_blank"></a></li>
      <li><a href="http://www.huashan1914.com/" id="sp-09" target="_blank"></a></li>
      <li><a href="#" id="sp-10" target="_blank"></a></li>
      <li><a href="http://www.dfi.dk/" id="sp-11" target="_blank"></a></li>
      <li><a href="#" id="sp-12" target="_blank"></a></li>
      <li><a href="https://www.facebook.com/jimiskate" id="sp-13" target="_blank"></a></li>
      <li><a href="https://www.facebook.com/idocare.taiwan" id="sp-14" target="_blank"></a></li>
      <li><a href="#" id="sp-15" target="_blank"></a></li>
      <li><a href="#" id="sp-16" target="_blank"></a></li>
      <li><a href="http://www.summers.com.tw/" id="sp-17" target="_blank"></a></li>
      <li><a href="http://www.optoma.com.tw/home/default.aspx?" id="sp-18" target="_blank"></a></li>
      <li><a href="http://www.alleycatspizza.com/Web/Home/index.aspx" id="sp-19" target="_blank"></a></li>
      <li><a href="http://www.bessiebyer.com/" id="sp-20" target="_blank"></a></li>
      <li><a href="http://www.ntmofa.gov.tw/" id="sp-21" target="_blank"></a></li>
      <li><a href="#" id="sp-22" target="_blank"></a></li>
      <li><a href="#" id="sp-23" target="_blank"></a></li>
      <li><a href="#" id="sp-24" target="_blank"></a></li>
      <li><a href="http://www.springscream.com/" id="sp-25" target="_blank"></a></li>
      <li><a href="#" id="sp-26" target="_blank"></a></li>
      <li><a href="https://www.facebook.com/Screaming.Eyes" id="sp-27" target="_blank"></a></li>
      <li><a href="http://www.kgbburgers.com/" id="sp-28" target="_blank"></a></li>
      <li><a href="http://www.petshopsgirl.com/blog/" id="sp-29" target="_blank"></a></li>
      <li><a href="http://www.toasteriacafe.com/" id="sp-30" target="_blank"></a></li>
      <li><a href="http://www.gigguide.tw/" id="sp-31" target="_blank"></a></li>
      <li><a href="http://www.taiwanease.com/classifieds/?src=taiwanted" id="sp-32" target="_blank"></a></li>
      <li><a href="http://www.taiwanease.com/" id="sp-33" target="_blank"></a></li>
    </ul>
    <div id="summer"> <a href="http://www.summers.com.tw/" target="_blank">網頁製作由<br>
      夏天廣告贊助</a> </div>
  </aside>
  <article>
  
  	<% @briefs.each do | brief | 
	  	next if brief.status != 'enable'
  	%>  		
	    <div class="movie">
	    <a href="<%= category_brief_path(:category_id => brief.category.namehash, :id => brief.id ) %>">
	      <div class="post"><img src="<%= brief.cover.thumb %>" width="207" height="304"></div>
	      <!--post-->
	      <div class="info">
	        <hgroup>
	          <h3><%= brief.name %></h3>
	          <h4><%= brief.en_name %></h4>
	        </hgroup>
	        <% if !brief.intro.nil? %>
	        <p> 
	        	<%= brief.intro.sub(/\n/, '<br>').html_safe %> 
	        </p>
	        <% end %>
	        
	        <% if !brief.schedule.nil? %>
	        <p class="time">
	        <% brief.schedule.each do | schedule | %>
	        	<%= schedule  %><br />
	        <% end %>
	        </p>
	        <% end %>
	      </div>
	      <!--info-->
	      </a> 
	    </div>
  	<% end %>
  
    <!--movie-->
  </article>
</section>
<%= render :partial => "layouts/" + t("configs.footer") %>
</body>
</html>
