<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<meta charset="utf-8">
<title>城市遊牧影展│URBANNOMAD FILM FEST</title>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/index.css">
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>

  <%= stylesheet_link_tag    "common", :media => "all" %>
  <%= stylesheet_link_tag    "index", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>

<body>
<header>
  <h1><a href="index.html">城市遊牧影展│URBANNOMAD FILM FEST</a></h1>
  <nav>
    <ul>
      <li><a href="index.html" id="nav-home" class="ablock">home</a></li>
      <li><a href="#" class="atext">English</a></li>
      <li><a class="atext">/</a></li>
      <li><a href="#" class="atext">中文</a></li>
      <li><a href="http://www.facebook.com/UrbanNomad.tw" target="_blank" id="nav-fb" class="ablock">
        <div class="flipper">
          <div class="front"> facebook </div>
          <div class="back"> </div>
        </div>
        </a></li>
      <li><a href="#" id="nav-04" class="ablock">
        <div class="flipper">
          <div class="front"> 座談會 </div>
          <div class="back"> </div>
        </div>
        </a></li>
      <li><a href="#" id="nav-03" class="ablock">
        <div class="flipper">
          <div class="front"> 檔期表 </div>
          <div class="back"> </div>
        </div>
        </a></li>
      <li><a href="#" id="nav-02" class="ablock">
        <div class="flipper">
          <div class="front"> 短片 </div>
          <div class="back"> </div>
        </div>
        </a></li>
      <li><a href="#" id="nav-01" class="ablock">
        <div class="flipper">
          <div class="front"> 長片 </div>
          <div class="back"> </div>
        </div>
        </a></li>
    </ul>
  </nav>
</header>
<section id="main">
  <aside>
    <ul>
      <li><a href="http://www.designersweek.tw/index.html" id="sp-01" target="_blank"></a></li>
      <li><a href="http://www.corecultural.com/" id="sp-02" target="_blank"></a></li>
      <li><a href="http://www.optoma.com.tw/home/default.aspx?" id="sp-03" target="_blank"></a></li>
      <li><a href="http://www.springscream.com/" id="sp-04" target="_blank"></a></li>
      <li><a href="http://urbannomadfilmfest.blogspot.tw/p/blog-page_14.html" id="sp-05" target="_blank"></a></li>
      <li><a href="http://www.kgbburgers.com/" id="sp-06" target="_blank"></a></li>
      <li><a href="http://www.wildatheart.org.tw/" id="sp-07" target="_blank"></a></li>
      <li><a href="http://www.petshopsgirl.com/blog/" id="sp-08" target="_blank"></a></li>
      <li><a href="http://www.filmarts.org.tw/" id="sp-09" target="_blank"></a></li>
      <li><a href="http://tofu.pixnet.net/blog" id="sp-10" target="_blank"></a></li>
      <li><a href="http://www.gigguide.tw/" id="sp-11" target="_blank"></a></li>
      <li><a href="http://www.taiwanease.com/classifieds/?src=taiwanted" id="sp-12" target="_blank"></a></li>
    </ul>
    <div id="summer"> 
      <a href="http://www.summers.com.tw/" target="_blank">網頁製作由<br>夏天廣告贊助</a> </div>
  </aside>
  <article>
    <div class="movie">
    <a href="#">
      <div class="post"><img src="<%= image_path("movie-01.jpg") %>" width="207" height="304"></div>
      <!--post-->
      <div class="info">
        <hgroup>
          <h3>台灣牡蠣</h3>
          <h4>THE TAIWAN OYSTER</h4>
        </hgroup>
        <p> 美國 / 2012 / 105 分鐘<br>
          英文 / 中文字幕<br>
          導演：Mark Jarrett </p>
      </div>
      <!--info-->
      </a> 
    </div>
    <!--movie-->
    <div class="movie">
    <a href="#">
      <div class="post"><img src="<%= image_path("movie-01.jpg") %>" width="207" height="304"></div>
      <!--post-->
      <div class="info">
        <hgroup>
          <h3>台灣牡蠣</h3>
          <h4>THE TAIWAN OYSTER</h4>
        </hgroup>
        <p> 美國 / 2012 / 105 分鐘<br>
          英文 / 中文字幕<br>
          導演：Mark Jarrett </p>
      </div>
      <!--info-->
      </a> 
    </div>
    <!--movie-->
    <div class="movie">
    <a href="#">
      <div class="post"><img src="<%= image_path("movie-01.jpg") %>" width="207" height="304"></div>
      <!--post-->
      <div class="info">
        <hgroup>
          <h3>台灣牡蠣</h3>
          <h4>THE TAIWAN OYSTER</h4>
        </hgroup>
        <p> 美國 / 2012 / 105 分鐘<br>
          英文 / 中文字幕<br>
          導演：Mark Jarrett </p>
      </div>
      <!--info-->
      </a> 
    </div>
    <!--movie-->
    <div class="movie">
    <a href="#">
      <div class="post"><img src="<%= image_path("movie-01.jpg") %>" width="207" height="304"></div>
      <!--post-->
      <div class="info">
        <hgroup>
          <h3>台灣牡蠣</h3>
          <h4>THE TAIWAN OYSTER</h4>
        </hgroup>
        <p> 美國 / 2012 / 105 分鐘<br>
          英文 / 中文字幕<br>
          導演：Mark Jarrett </p>
      </div>
      <!--info-->
      </a> 
    </div>
    <!--movie-->
    <div class="movie">
    <a href="#">
      <div class="post"><img src="<%= image_path("movie-01.jpg") %>" width="207" height="304"></div>
      <!--post-->
      <div class="info">
        <hgroup>
          <h3>台灣牡蠣</h3>
          <h4>THE TAIWAN OYSTER</h4>
        </hgroup>
        <p> 美國 / 2012 / 105 分鐘<br>
          英文 / 中文字幕<br>
          導演：Mark Jarrett </p>
      </div>
      <!--info-->
      </a> 
    </div>
    <!--movie--> 
    
  </article>
</section>
<footer>
</footer>
</body>
</html>
