<article>
  <section class="hgroup">
      <h2><img src="<%= image_path("man.png") %>" width="16" height="16"> 個人資料</h2>
    </section>
    <!--hgroup-->
    <%= form_for(@admin, :url => "/admin/update", :action => "put") do |f| %>
  <section class="text text-edit">
      <div class="half">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th valign="top">帳號</th>
            <td><%= f.text_field :username, :autocomplete => "off", :placeholder => "請輸入登入帳號"  %></td>
          </tr>
        </table>
      </div>
      <div class="half">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th valign="top">名稱</th>
            <td><%= f.text_field :name, :autocomplete => "off" %></td>
          </tr>
        </table>
      </div>
    </section>
    <!--text-->
    <section class="hgroup">
      <h2><img src="<%= image_path("psw.png") %>" width="16" height="16"> 修改密碼</h2>
      <p>(如不修改密碼可不填此欄)</p>
    </section>
    <!--hgroup-->
    <section class="text text-edit">
      <div class="half">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th valign="top">新密碼</th>
            <td><%= f.password_field :password, :autocomplete => "off" %></td>
          </tr>
        </table>
      </div>
      <div class="half">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th valign="top">確認密碼</th>
            <td><input id="pswCheck" type="password" name="textfield" /></td>
          </tr>
        </table>
      </div>      
    </section>
    <!--text-->
    <section class="button">
    <a href="#" id="btnSubmit"><img src="<%= image_path("save.png") %>">儲存</a>
    <a href="/admin"><img src="<%= image_path("cancel.png") %>">取消</a>
    </section>
<% end %>
    <!--button--> 
  </article>
  

<div id="error">
  <% if flash[:notice] %>
  <script>
	  Alertify.log.success("管理者資料已更新");
  </script>
  <% end %>
</div>


<script type="text/javascript">
$("#btnSubmit").click(function(){
	$("form").submit();
});
$("form").submit(function(){
	var check = ($("#admin_password").val()==$("#pswCheck").val());
	if(check == false){
		$("#error").html("密碼不一致, 更新失敗");
		$("#admin_password").val("");
		$("#pswCheck").val("");
	}
	return check;
});

</script>