
  <article>
  
  <section class="category">
      <ul>
        <li <%= 'class="active"'.html_safe if @category.namehash == 'full' %>><%= link_to '長片類' ,admin_category_briefs_path('full', :locale => I18n.locale ) %></li>
        <li <%= 'class="active"'.html_safe if @category.namehash == 'short' %>><%= link_to '短片類', admin_category_briefs_path('short', :locale => I18n.locale) %></li>
      </ul>
    </section>
    <!--category-->
  <section class="button">
    <%= link_to image_tag("/images/add.png")+t("admin.brief.new_brief"), admin_category_briefs_path(@category, :locale => I18n.locale), :method => :post %>
  </section>
    <!--button-->
    <section class="list">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
      
      <% if(@briefs.blank?) %>
      <tr>
        <td colspan="4"><%= t("admin.brief.no_brief_exists") %></td>
      </tr>      
      <% else %>
		<tr>
			<th align="center" class="date">日期</th>
			<th align="left" class="name">標題</th>
			<th align="center" class="edit">編輯</th>
			<th align="center" class="delete">刪除</th>
		</tr>
		<% @briefs.each do | brief | %>      
		<tr>
			<td align="center"><%= brief.created_at.to_s(:date) %></td>
			<td align="left"><%= link_to brief.name, admin_category_brief_path(@category, brief, :locale => I18n.locale) %></td>
			<td align="center" class="edit"><%= link_to 'edit', edit_admin_category_brief_path(@category, brief, :locale => I18n.locale) %></td>
			<td align="center" class="delete"><%= link_to image_tag("delete.png"), admin_category_brief_path(@category, brief, :locale => I18n.locale), method: :delete, data: { confirm: t("admin.brief.delete_confirm") } %></td>
		</tr>
	      <% end %>
      
      <% end %>

      </table>
    </section>
    <!--list-->
  </article>
  

<script type="text/javascript">
$(document).ready(function(){
  $("#nav-1").parent().addClass("active");
});
</script>