<div id="main" class="right">
  <div class="button">
    <%= link_to image_tag("/images/add.png")+t("admin.brief.new_brief"), admin_category_briefs_path(@category, :locale => I18n.locale), :method => :post %>
  </div>
  <div class="main-list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  	  <tr>
	  	  <td colspan="4">
		  	  <% @categories.each do | category | %>
		  	  <%= link_to category.title, admin_category_briefs_path( category, :locale => I18n.locale ) %>
		  	  <% end %>
	  	  </td>
  	  </tr>
      <tr class="main-list-title">
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% if(@briefs.blank?) %>
      <tr>
        <td colspan="4"><%= t("admin.brief.no_brief_exists") %></td>
      </tr>
      <% end %>

      <% @briefs.each do |brief| %>
      <tr>
        <td><%= brief.name %></td>
        <td><%= link_to 'Show', admin_category_brief_path(@category, brief, :locale => I18n.locale) %></td>
        <td><%= link_to 'Edit', edit_admin_category_brief_path(@category, brief, :locale => I18n.locale) %></td>
        <td><%= link_to 'Destroy', admin_category_brief_path(@category, brief, :locale => I18n.locale), method: :delete, data: { confirm: t("admin.brief.delete_confirm") } %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<!--main--> 

<script type="text/javascript">
$(document).ready(function(){
  $("#briefs").addClass("active");
});
</script>