
	<%= stylesheet_link_tag "index", :media => "all" %>
	
  	<% @briefs.each do | brief | 
	  	next if brief.status != 'enable'
	  	Rails.logger.debug " **** Entering debug **** "
	  	Rails.logger.debug brief.inspect
	  	Rails.logger.debug " **** End **** "
  	%>  		
	    <div class="movie">
	    <a href="<%= category_brief_path(:category_id => brief.category.namehash, :id => brief.id, :locale => I18n.locale ) %>">
	      <div class="post"><img src="<%= brief.cover.thumb %>" width="207" height="304"></div>
	      <!--post-->
	      <div class="info">
	        <hgroup>
	          <h3><%= brief.name %></h3>
	          <h4><%= brief.en_name %></h4>
	        </hgroup>
	        <% if !brief.intro.nil? %>
	        <p> 
	        	<%= brief.intro.sub(/\n/, '<br>').html_safe %> 
	        </p>
	        <% end %>
	        
	        <% if !brief.schedule.nil? %>
	        <p class="time">
	        <% brief.schedule.each do | schedule | %>
	        	<%= schedule  %><br />
	        <% end %>
	        </p>
	        <% end %>
	      </div>
	      <!--info-->
	      </a> 
	    </div>
  	<% end %>
  
    <!--movie-->