<nav>
    <ul>
      <li><a href="<%= root_url %>" id="nav-home" class="ablock">home</a></li>
      <li><%= link_to "English", url_for( :locale => :en ), :class => "atext" %></li>
      <li><a class="atext">/</a></li>
      <li><%= link_to "中文", url_for( :locale => :zh_TW ), :class => "atext"  %></li>
      <li><a href="http://www.facebook.com/UrbanNomad.tw" target="_blank" id="nav-fb" class="ablock">
        <div class="flipper">
          <div class="front"> facebook </div>
          <div class="back"> </div>
        </div>
        </a></li>
      <li><a href="<%= category_briefs_path( :category_id => "talks", :locale => I18n.locale ) %>" id="nav-04" class="ablock">
        <div class="flipper">
          <div class="front"> <%= t("menu.talks") %> </div>
          <div class="back"> </div>
        </div>
        </a></li>
      <li><a href="#" id="nav-03" class="ablock">
        <div class="flipper">
          <div class="front"> <%= t("menu.schedule")%> </div>
          <div class="back"> </div>
        </div>
        </a></li>
      <li><a href="<%= category_briefs_path( :category_id => "short", :locale => I18n.locale ) %>" id="nav-02" class="ablock">
        <div class="flipper">
          <div class="front"> <%= t("menu.short_film")%> </div>
          <div class="back"> </div>
        </div>
        </a></li>
      <li><a href="<%= category_briefs_path( :category_id => "full", :locale => I18n.locale ) %>" id="nav-01" class="ablock">
        <div class="flipper">
          <div class="front"> <%= t("menu.features_film")%> </div>
          <div class="back"> </div>
        </div>
        </a></li>
    </ul>
  </nav>